<div id="div-buttons">

    <div id="div-buttons" class="container-fluid">
        <div class="row">
            <a href="/">
            <div class="div-button" role="button">
                <div class="center-content">
                    <span class="glyphicon glyphicon-music big"></span>
                    <h4>Music</h4>
                </div>
            </div>
            </a>
            <a href="/projects">
                <div class="div-button" role="button">
                    <div class="center-content">
                        <span class="glyphicon glyphicon-blackboard big"></span>
                        <h4>Projects</h4>
                    </div>
                </div>
            </a>
        </div>
        <a href="/">
        <div class="row">
            <div class="div-button offset3" role="button">
                <div class="center-content">
                    <span class="glyphicon glyphicon-cloud big"></span>
                    <h4>Mysc</h4>
                </div>
            </div>
        </div>
        </a>
    </div>

</div>

<div class="visits">
    <h4 align="center">Site visits: {{visits}}</h4>
</div>

