

section {

    color: white;
    h1 {
    
        margin-top: 10%;
        margin-bottom: 10%;

    }

    .group {

        margin-top: 10%;
    

    }

    .btn, .btn-primary{
    
        
        color: white;
        background-color: rgba(0, 100, 200, 0.6);
        border-color: black;
        box-shadow: 2px 2px 2px 2px black;


    }

}